<div class="container">
<div class="row">
<div class="col s12 m12">
	<div class="our-girls">OUR GIRLS</div>
</div>
<div class="col s12 m12">
   <span class="album-photo showgirl center">
   <%= image_tag '12.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '13.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '15.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'about_us.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'carousel1.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'Carousel3.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'carousel4.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'five.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'four.png', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'nine.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'one.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'three.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   </span>
</div>
</div>
  
<div class="row">
<div class="col s12 m12">
	<div class="our-performers">OUR PERFORMERS</div>
</div>
<div class="col s12 m12">
   <span class="album-photo performer center">
   <%= image_tag '14.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'eleven.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'eight.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'event1.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '14.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'seven.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '16.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'event2.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '17.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '18.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'event3.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '19.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '20.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '21.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag '22.jpg', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'six.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'two.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   <%= image_tag 'ten.JPG', class: "responsive-img materialboxed", width: "20%", height: "auto" %>
   </span>
</div>
</div>
</div>